 <div class="container" id="content_border">
  <!--wrapperここから-->
   <div id="wrapper" class="row">
    <!--ここからメイン-->
    <div id="main" class="col-12 col-sm-8">
        <h1 class="text-center">追いコン</h1>
        <div class="text-center mt-5"><%= image_tag 'oikon', :width => '100%' %></div>
        <p class="mt-4">追いコンは、例年２月下旬に、南山大学のG30教室、またはフラッテンホール
        で開催されます。</p>
        <p>追いコンとは、ESSを引退される先輩方（主に３年生と４年生）に対し、後輩である１年生と２年生が
        <span class="under">今後の活躍を応援し、これまでお世話になった感謝の気持ちを伝えるため</span>
        に実施される引退セレモニーのことです。</span>
        <p>毎年、ESSの運営班（コミッショナー）が参加者の動向を見ながら、
        日程や開催場所の決定、備品の貸し出し有無の管理を行い、イベントが上手く進行するよう全体を取り仕切ります。
        またその際に、各セクションの代表者（チーフ）とも連携しながら進めていきます。
        </p>
        <p>追いコンの具体的な内容としては、セクションごとに考えた出し物を、<span class="bold">各セクションの現チーフがリーダーとなり、先輩方に披露します。</span>
        </p>
        <p><span class="under1">Guide</span></p>
        <p>ガイドセクションの番では、先輩方のESS内（特にガイド）での歩みを、クイズを交えながら紹介しました
        。その際に、<span class="under">京都でのセクションキャンプ、白鳥庭園や徳川園へのフィールドトリップ、日頃の活動</span>など、
        先輩との懐かしい思い出を改めて振り返りました。特にガイドは人数が他のセクションよりも多く、
        <span class="bold">後輩からも先輩からも数え切れないほどたくさんのエピソードが出てきました。</span>
        </p>
        <p><span class="under1">Debate</span></p>
        <p>ディベートセクションの番では、１つの議題に対して、賛成派と反対派に分かれ、
        <span class="bold">NA style(North American style)と呼ばれるディベートスタイルで、先輩方に後輩のディベート力の成長を披露しました。</span>
        専門用語がたくさん出てくる中、流暢な英語で意見を話す姿に、先輩方はとても驚いていました。
        </p>
        <p><span class="under1">Drama</span></p>
        <p>ドラマセクションの番では、<span class="under">これまで先輩から教わったことを糧にして、少し短めの英語劇を舞台上で披露しました。</span>
        準備期間が十分ではなかったものの、今できる最高の劇を先輩方に見せることができました。演技後に先輩からは、
        <span class="bold">「すごくクオリティの高いものだった」「迫力があった」など嬉しいコメントをたくさん頂きました。</span>
        </p>
        <p><span class="under1">Speech</span></p>
        <p>スピーチセクションの番では、<span class="bold">先輩方のESS内（特にスピーチ）での歩みを、パワーポイントを活用しながら、全て英語で紹介し
        、感謝の気持ちを伝えました。</span>また、<span class="under">日頃のスピーチ活動で培ったスピーチ力を披露する良い機会にもなりました。</span>
        中でも、事前に先輩から頂いたビデオを流した際には、会場一同大いに盛り上がりました。
        </p>
        <p><span class="under1">Discussion</span></p>
        <p>※Discussionは諸事情により2020年度は未実施。</p>
        <p>セレモニーの最初と最後には、現ESSの代表であるプレジデントからトラセンを開催するに当たって一言、
        ESSの１年生と２年生を代表して感謝の言葉を先輩に伝えました。引退される先輩からも、セレモニー全体を通しての感想、
        後輩に向けてのお言葉を一言頂きました。
        </p>
        <p>ご一読いただき、ありがとうございました！</p>
    </div>
    <!--メインここまで-->
    <!--ここからサイド-->
    <aside id="sidebar" class="col-sm-4">
      <div id="sidebar_sub">
        <div class="card">
            <div class="card-header">
              イベント一覧
            </div>
            <div class="card-body">
                <div><%= link_to '・春キャン', spring_camp_path, class: 'side-letter' %></div>
                <div><%= link_to '・新歓', freshman_welcome_party_path, class: 'side-letter' %></div>
                <div><%= link_to '・上南戦', jounan_path, class: 'side-letter' %></div>
                <div><%= link_to '・サマーキャンプ', summer_camp_path, class: 'side-letter' %></div>
                <div><%= link_to '・ハロウィンパーティー', halloween_party_path, class: 'side-letter' %></div>
                <div><%= link_to '・学祭', nanzan_festival_path, class: 'side-letter' %></div>
                <div><%= link_to '・クリスマスパーティー', christmas_party_path, class: 'side-letter' %></div>
                <div class="active"><%= link_to '・追いコン', farewell_party_path, class: 'side-letter' %></div>
            </div>
        </div>
      </div>
    </aside>
    <!--サイドここまで-->
  </div>
 <!--wrapperここまで-->
</div>
<!--containerここまで-->





 

        