<h3><%= @inquiry.name %>様からお問い合わせがありました</h3>
<h5>お問い合わせ内容</h5>
<p>氏名: <%= @inquiry.name %></p>
<p>メールアドレス: <%= @inquiry.email %></p>
<p>希望セクション: <%= @inquiry.section %></p>
<p>希望日: <%= @inquiry.date %></p>
<p>希望時間: <%= @inquiry.time %></p>
<p>メッセージ: <%= @inquiry.message %></p>

