
 <div class="container" id="content_border">
 <!--wrapperここから-->
<div id="wrapper" class="row">
    <!--ここからメイン-->
    <div id="main" class="col-12 col-sm-8">
        <h1 class="text-center">ハロウィンパーティー</h1>
        <div class="main-background-action">
        
            <h2>ハロウィンパーティーとは？</h2> 
           <%= image_tag 'halloween2' %><!--集合写真を貼る--> 
        </div>
        
        <p class="writing"><span class="bold">ハロウィンパーティーでは、各々仮装して参加します。</span>動物やかぼちゃ、デビルの被り物、そしてゾンビメイクをしたり
            コスチュームを着たりします!</span><span class="red">お菓子を食べながらおしゃべりをしたり、クイズ大会やビンゴ大会もします！</span>クイズやビンゴ大会では
            景品が用意されていて、皆景品Getを目指してゲームを楽しみます！<br>ちなみに<span class="bold">2019年のクイズ大会では「国旗クイズ」をしました。</span>
            また、他のセクションの人たちとも会話で来て、交流を深めることができます！
            最後に<span class="red">誰の仮装が素晴らしかったかを投票で決めます。</span>なんと一番多く票を勝ち取った人には景品が渡されます！
            <span class="bold">ぜひハロウィンパーティーに参加して、普段できない仮装を楽しんでほしいと思います！</span>
        </p>　
        <p class="text-center">ハロウィンパーティーの様子</p> 
        <%= image_tag 'halloween5' %>
    </div>
    <!--メインここまで-->
    <!--ここからサイド-->
    <aside id="sidebar" class="col-sm-4">
     <div id="sidebar_sub">
        <div class="card">
            <div class="card-header">
              イベント一覧
            </div>
            <div class="card-body">
                <div><%= link_to '・春キャン', spring_camp_path, class: 'side-letter' %></div>
                <div><%= link_to '・新歓', freshman_welcome_party_path, class: 'side-letter' %></div>
                <div><%= link_to '・上南戦', jounan_path, class: 'side-letter' %></div>
                <div><%= link_to '・サマーキャンプ', summer_camp_path, class: 'side-letter' %></div>
                <div class="active"><%= link_to '・ハロウィンパーティー', halloween_party_path, class: 'side-letter' %></div>
                <div><%= link_to '・学祭', nanzan_festival_path, class: 'side-letter' %></div>
                <div><%= link_to '・クリスマスパーティー', christmas_party_path, class: 'side-letter' %></div>
                <div><%= link_to '・追いコン', farewell_party_path, class: 'side-letter' %></div>
            </div>
        </div>
     </aside>
    <!--サイドここまで-->
</div>
 <!--wrapperここまで-->
</div>
<!--containerここまで-->
