<!--Engish Version-->
<!--メイン写真-->
<div class="mt-6 topimg2 wow fadeIn" data-wow-duration="2s">
  <h1 class="title">NEOWA</h1>
  <p class="subtitle">Improve your English skill</h2>
</div>
<div class="explanation1 row ">
  <div class="explanation1-1 col-sm-6 wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1s"">
    <%= image_tag 'ask', :width => '100%' %>
  </div>
  <div class="explanation1-1 col-sm-6 wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1s"">
    <p><span class="bold">NEOWA</span> means Nanzan ESS Original Web Application.</p>
    <p>This web application helps you to share and output your experiences about English study.</p>
  </div>
  <div class="explanation1-2 col-sm-6 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="1s"">
    <p>This is based on a book whose name is English Diary Boy.</p>
  </div>
  <div class="explanation1-2 col-sm-6 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="1s"">
    <%= image_tag 'bestsection', :width => '100%' %>
  </div>
  <div class="explanation1-3 col-sm-6 wow fadeInUp" data-wow-delay="1.3s" data-wow-duration="1s"">
    <%= image_tag 'ask',:width => '100%' %>
  </div>
  <div class="explanation1-3 col-sm-6 wow fadeInUp" data-wow-delay="1.3s" data-wow-duration="1s"">
    <p>Are you interested in this web application ? !</p>
    <p>Why don't you log in for free ? !</p>
  </div>
</div>
<div class="explanation2 row">
  <div class="explanation2-1 col-sm-6 wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1s"">
    <%= image_tag 'english diary boy book', :width => '75%', :height => '75%' %>
  </div>
  <div class="explanation2-1 col-sm-6 wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1s"">
    <p>This is the book that helps me come up with the idea about this web application.</p>
    <p>I hope</p>
  </div>
</div>
<div class="explanation3 row">
  <p class="nav-item login-nav"><%= link_to 'ログイン', login_path, class: 'nav-link' %></p>
</div>