 <div class="container" id="content_border">
  <!--wrapperここから-->
   <div id="wrapper" class="row">
    <!--ここからメイン-->
    <div id="main" class="col-12 col-sm-8">
        <h1 class="text-center">サマーキャンプ</h1>
        <div class="text-center mt-5"><%= image_tag 'Guide10', :width => '100%' %></div>
        <p class="mt-4">例年、夏合宿(サマキャン)は<span class="bold">８月の後半から９月の前半で３泊４日</span>します。</p>
        <p>サマキャンの開催場所は例年、<span class="bold">福井、長野、三重</span>になります。</p>
        <p>サマキャンの目的は、<span class="under">合宿期間中に行う各セクションのアクティビティを通して、日頃の活動の成果を発揮すると共に、
        更なる英語力の向上を目指すことです。</span></p>
        <p>またその際に、他セクションの特色を掴み、自分自身が所属するセクションの活動に活かせる部分がないかを考えます。
         加えて、今後のイベント活動やセクション活動を円滑に実施していくために、
         <span class="under">部員同士の結束力を深めることを目的としています。</span>
        </p>
        <p>毎年 、ESSの運営班（コミッショナー）が予算や参加者の動向を見ながら、日程や開催場所の決定、備品の貸し出し有無の管理を行い、
        イベントが上手く進行するよう全体を取り仕切ります。</p>
        <p>またその際に、旅行会社を仲介してホテルの予約やバスや電車の手配を担う渉外担当（Domestic affairs officer）が中心に立って指示を出していきます。
        当日の具体的なタイムスケジュールやアクティビティの内容は各セクションの代表者（チーフ）
        とも連携しながら決定していきます。</p>
        <p>ではここからは、2019年のサマキャンで行われてた、各セクションのアクティビティ内容を見ていきましょう</p>
        <p><span class="under1">Guide Section</span></p>
        <p>ガイドセクションの番では、 <spna class="bold">ESSオリジナルの三重県観光MAPを作ろう</span>というテーマでアクティビティを行いました。</p>
        <p>具体的には、三重県を北部・中部・南部の３つのエリアに分け、事前に振り分けた３つのグループごとに、
        各々が考える三重県内のおすすめ観光スポットに関して<span class="bold">英語で一人５分程のプレゼンをしました。</span></p>
        <p>プレゼンの際に、紹介するスポットの写真を用意し、その場所に行ったことがない人でも十分に理解できるような工夫がなされており、
        レベルの高い様子が感じられました。<span class="bold">発表後には、拡大した三重県のマップに皆が紹介したスポットを書き込み、
        ESSオリジナルのマップを完成させることができました。</span></p>
        <p><span class="under1">Debate Section</span></p>
        <p>ディベートセクションの番では、<span class="bold">１つの議題に対して、賛成派と反対派に分かれて、本番さながらの緊張感で討論をしました。</span>
        </p>
        <p>今回は、２対２対に分かれて行うNA style(North American style)と呼ばれるディベートスタイルで行いました。</p>
        <p>様々なトピックに対して、どのような主張、意見、具体例が最適か瞬時に判断し、英語で表現するという非常にハイレベルな活動内容でしたが、
        ディベートセクションのメンバーの丁寧な指導もあって、白熱した討論をすることができました。</p>
        <p>そして、討論の後には、<span class="bold">ディベートって固そうなイメージがあったけど、意外と面白かったなどと言った嬉しい意見も出ていました。</span>
        </p>
        <p><span class="under1">Drama Section</span></p>
        <p>ドラマセクションの番では、<span class="bold">「演技力」「表現力」「即興性」の３つの要素に重点を置き</span>、２つのアクティビティを行いました。</p>
        <p>１つ目は、４人グループを作り、そのメンバーで<span class="bold">英語のセリフをアドリブで繋げ、１つの物語を作る</span>というゲームを行いました。
        相手がどんな発言をするかは、相手が発言するまで分からないので、英語力に加えてどんな無茶振りにも対応できる柔軟さが求められる内容でした。
        </p>
        <p>２つ目は、紙に書かれた３つの単語（日本語も含む）を使い、<span class="bold">お題に則した内容で、英語の文章を即興で作る</span>
        というゲームをしました。
        このゲームは高い即興力が求められるため、珍回答の連発かと思いきや、
        <span class="bold">多くの人がユーモアの溢れた、
        非常にクオリティの高い文章を作ることができていました。
        </span>
        </p>
        <p><span class="under1">Speech Section</span></p>
        <p>スピーチセクションの番では、普段の活動で行っているPrepared Speech(準備型スピーチ)やImpromptu Speech (即興型スピーチ)
        と言ったガッツリしたスピーチは、未経験者がいることも考慮して今回は行わず、英語を使った簡単な２つのアクティビティを行いました。
        </p>
        <p>１つ目は、<span class="bold">２６個のアルファベットが書かれたカードを配り、３つのグループでカードを自由に並び替え、
        英語しりとりを行いました。</span>１度使用したカードは使えないので、語彙力や思考力が試されるゲームで、とても好評でした。
        </p>
        <p>２つ目は、<span class="bold">出題者がお題となる単語の説明を簡単な英語で行い、
        それがどんな単語を示しているのか当てるというゲームを行いました。</span></p>
        <p>参加者からは、説明の内容から答えは思い付いたのだけど、英語で何と言えばいいか分からないという意見が多く、実りのある内容になりました。
        </p >      
        <p>※Discussionは諸事情により昨年度は未実施。また、資格セクションは2020年８月に誕生した新セクションなので、
        今回説明している2019年のサマーキャンプの時点では資格セクションは存在していません。
        </p>
        <p>ご一読いただき、ありがとうございました！</p>
    </div>
    <!--メインここまで-->
    <!--ここからサイド-->
    <aside id="sidebar" class="col-sm-4">
      <div id="sidebar_sub">
        <div class="card">
            <div class="card-header">
              イベント一覧
            </div>
            <div class="card-body">
                <div><%= link_to '・春キャン', spring_camp_path, class: 'side-letter' %></div>
                <div><%= link_to '・新歓', freshman_welcome_party_path, class: 'side-letter' %></div>
                <div><%= link_to '・上南戦', jounan_path, class: 'side-letter' %></div>
                <div class="active"><%= link_to '・サマーキャンプ', summer_camp_path, class: 'side-letter' %></div>
                <div><%= link_to '・ハロウィンパーティー', halloween_party_path, class: 'side-letter' %></div>
                <div><%= link_to '・学祭', nanzan_festival_path, class: 'side-letter' %></div>
                <div><%= link_to '・クリスマスパーティー', christmas_party_path, class: 'side-letter' %></div>
                <div><%= link_to '・追いコン', farewell_party_path, class: 'side-letter' %></div>
            </div>
        </div>
      </div>
    </aside>
    <!--サイドここまで-->
  </div>
 <!--wrapperここまで-->
</div>
<!--containerここまで-->





