 

 <!--wrapperここから-->
<div id="wrapper" class="row">
    <!--ここからメイン-->
    <div id="main" class="col-12 col-sm-8">
        <h1 class="text-center mt-5">サマーキャンプ</h1>
        <div class="text-center mt-5"><%= image_tag 'Guide10', :width => '100%' %></div>
        <p class="mt-4">
            
実施時期：例年、夏合宿(サマキャン)は８月の後半から９月の前半で３泊４日、春合宿(春キャン)は２月から３月の間で２泊３日<br>
昨年の夏合宿は諸事情のため中止、春合宿は２/10(月)〜２/12(水)実施<br>
開催場所：例年、福井、長野、三重　＊昨年度の春合宿においては三重県の賢島付近の宿を貸し切りにして、実施した。<br>
目的：合宿期間中に行う各セクションのアクティビティを通して、日頃の活動の成果を発揮すると共に、更なる英語力の向上を目指す。またその際に、他セクションの特色を掴み、自分自身が所属するセクションの活動に活かせる部分が何かないか考える。
加えて、今後のイベント活動やセクション活動を円滑に実施していくために、部員同士の結束力を深めることを目的とする。<br>
進め方：毎年、ESSの運営班（コミッショナー）が予算や参加者の動向を見ながら、日程や開催場所の決定、備品の貸し出し有無の管理を行い、
イベントが上手く進行するよう全体を取り仕切ります。またその際に、旅行会社を仲介してホテルの予約やバスや電車の手配を担う渉外担当
（Domestic affairs officer）が中心に立って指示を出していく。当日の具体的なタイムスケジュールやアクティビティの内容は各セクションの代表者（チーフ）
とも連携しながら決定していく。＊詳しくは渉外担当の引き継ぎ書に記載<br>
具体的な内容：昨年度の春合宿では、三重県の賢島付近のホテルに宿泊し、１日目と２日目は、レクリエーションを途中に挟みながら
各セクションのチーフが中心となって考えたアクティビティを行いました。３日目は、三重県の有名な観光スポットである伊勢神宮の内宮・外宮をお参りし、
おかげ横丁で観光気分を存分に味わいました。<br>
＊具体的なセクション活動の内容は以下を参照↓<br>
Speechは普段の活動で行っている、Prepared Speech(準備型スピーチ)やImpromptu Speech (即興型スピーチ)と言ったガッツリしたスピーチは未経験者がいることも考慮して今回は行わず、英語を使った簡単な２つのアクティビティを行いました。１つ目は、２６個のアルファベットが書かれたカードを配り、３つのグループでカードを自由に並び替え、英語しりとりを行いました。１度使用したカードは使えないので、語彙力や思考力が試されるゲームで、とても好評でした。２つ目は、出題者がお題となる単語の説明を簡単な英語で行い、それがどんな単語を示しているのか当てるというゲームを行いました。参加者からは、説明の内容から答えは思い付いたのだけど、英語で何と言えばいいか分からないという意見が多く、実りのある内容になりました。
<br>GuideはESSオリジナルの三重県観光MAPを作ろうというテーマでアクティビティを行いました。具体的には、三重県を北部・中部・南部の３つのエリアに分け、事前に振り分けた３つのグループごとに、各々が考える三重県内のおすすめ観光スポットに関して英語で一人５分程のプレゼンをしました。プレゼンの際に、紹介するスポットの写真を用意し、その場所に行ったことがない人でも十分に理解できるような工夫がなされており、レベルの高い様子が感じられました。発表後には、拡大した三重県のマップに皆が紹介したスポットを書き込み、ESSオリジナルのマップを完成させることができました。
<br>Debateは１つの議題(motion)に対して、Government(賛成派)とOpposition(反対派)に分かれて、本番さながらの緊張感で討論をしました。今回は、２対２対に分かれて行うNA style(North American style)と呼ばれるディベートスタイルで行いました。様々なトピックに対して、どのような主張(assertion)、意見(reason)、具体例(example)が最適か、瞬時に判断し、英語で表現するという非常にハイレベルな活動内容でしたが、Debateセクションのメンバーの丁寧な指導もあって、白熱した討論をすることができました。そして、討論の後には、ディベートって固そうなイメージがあったけど、意外と面白かったなどと言った嬉しい意見も出ていました。
<br>Dramaは「演技力」「表現力」「即興性」の３つの要素に重点を置き、２つのアクティビティを行いました。１つ目は、４人グループを作り、そのメンバーで英語のセリフをアドリブで繋げ、１つの物語を作るというゲームを行いました。相手がどんな発言をするかは、相手が発言するまで分からないので、英語力に加えてどんな無茶振りにも対応できる柔軟さが求められる内容でした。２つ目は、紙に書かれた３つの単語（日本語も含む）を使い、お題に則した内容で、英語の文章を即興で作るというゲームをしました。このゲームは高い即興力が求められるため、珍回答の連発かと思いきや、多くの人がユーモアの溢れた、非常にクオリティの高い文章を作ることができていました。
<br>＊Discussionは諸事情により昨年度は未実施
 
        </p>
    </div>
    <!--メインここまで-->
    <!--ここからサイド-->
    <aside id="sidebar" class="col-sm-4">
     <div id="sidebar_sub">
        <div class="card">
            <div class="card-header">
              イベント一覧
            </div>
            <div class="card-body">
                <div><%= link_to '・春キャン', spring_camp_path, class: 'side-letter' %></div>
                <div><%= link_to '・新歓', freshman_welcome_party_path, class: 'side-letter' %></div>
                <div><%= link_to '・上南戦', jounan_path, class: 'side-letter' %></div>
                <div class="active"><%= link_to '・サマーキャンプ', summer_camp_path, class: 'side-letter' %></div>
                <div><%= link_to '・ハロウィンパーティー', halloween_party_path, class: 'side-letter' %></div>
                <div><%= link_to '・学祭', nanzan_festival_path, class: 'side-letter' %></div>
                <div><%= link_to '・クリスマスパーティー', christmas_party_path, class: 'side-letter' %></div>
                <div><%= link_to '・追いコン', farewell_party_path, class: 'side-letter' %></div>
            </div>
        </div>
     </aside>
    <!--サイドここまで-->
</div>
 <!--wrapperここまで-->






