<!--slickによるカルーセル-->
<div class="carousel">
    <%= image_tag 'debate' %>    
    <%= image_tag 'guide' %>
    <%= image_tag 'member' %>
    <%= image_tag 'question' %>
    <%= image_tag 'speech' %>
</div>
<!--card-deckクラスで複数のカードを連結しないで表示できる-->
<div class="card-deck mt-5">
    <div class="card shadow">
        <%= image_tag 'aptitude-test' %>
        <div class="card-body">
            <h5 class="card-title pt-3">セクション体験したい方はこちら</h5>
            <p class="card-text text-muted">南山大学生の方のみになります。</p>
        </div>
    </div> 
    <div class="card shadow">
        <%= image_tag 'aptitude-test' %>
        <div class="card-body">
            <h5 class="card-title pt-3">適正セクションを診断する</h5>
            <p class="card-text text-muted">いくつかの質問に答えることで、あなたに適性のあるセクションを知ることができます。</p>
        </div>
    </div>
</div> 
<!--セクション紹介-->
<h5 class="text-center mt-5 mb-5">セクション</h5>
<div class="card-deck mt-5">
    <div class="card text-white bg-success mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">Certification<br>セクション</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
    <div class="card text-white bg-primary mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">Guide<br>セクション</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
    <div class="card text-white bg-danger mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">Debate<br>セクション</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
</div>
<div class="card-deck">
    <div class="card text-white bg-warning mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">Drama<br>セクション</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
    <div class="card text-white bg-info mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">Speech<br>セクション</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
    <div class="card text-white bg-secondary mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">Discussion<br>セクション</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
</div>
<!--全体のイベント-->
<h5 class="text-center mt-5 mb-5">全体のイベント</h5>
<div class="card-deck mt-5">
    <div class="card text-white bg-success mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">春キャンプ</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
    <div class="card text-white bg-primary mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">新歓</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
    <div class="card text-white bg-danger mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">上南戦</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
</div>
<div class="card-deck">
    <div class="card text-white bg-warning mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">サマーキャンプ</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
    <div class="card text-white bg-info mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">ハロウィンパーティー</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
    <div class="card text-white bg-secondary mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">学祭</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
</div>
<div class="card-deck mt-5">
    <div class="card text-white bg-success mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">クリスマスパーティー</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
    <div class="card text-white bg-primary mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">追いコン</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
</div>
<!--セクションキャンプ-->
<h5 class="text-center mt-5 mb-5">セクションキャンプ</h5>
<div class="card-deck mt-5">
    <div class="card text-white bg-success mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">Certification<br>セクション</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
    <div class="card text-white bg-primary mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">Guide<br>セクション</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
    <div class="card text-white bg-danger mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">Debate<br>セクション</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
</div>
<div class="card-deck">
    <div class="card text-white bg-warning mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">Drama<br>セクション</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
    <div class="card text-white bg-info mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">Speech<br>セクション</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
    <div class="card text-white bg-secondary mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">Discussion<br>セクション</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
</div>
<!--セクション別イベント・大会情報-(Guide)-->
<h5 class="text-center mt-5 mb-5">セクション別イベント・大会情報</h5>
<div class="card-deck mt-5">
    <div class="card text-white bg-success mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">Guide<br>BFG</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
    <div class="card text-white bg-primary mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">Guide<br>BPG</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
    <div class="card text-white bg-danger mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">Guide<br>ガイドコンテスト</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
</div>
<!--セクション別イベント・大会情報-(Debate)-->
<div class="card-deck mt-5">
    <div class="card text-white bg-warning mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">Debate<br></h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
    <div class="card text-white bg-info mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">Debate<br>BPG</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
    <div class="card text-white bg-secondary mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">Debate<br>ガイドコンテスト</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
</div>
<!--セクション別イベント・大会情報-(Drama)-->
<div class="card-deck mt-5">
    <div class="card text-white bg-success mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">Drama<br>BFG</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
    <div class="card text-white bg-primary mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">Drama<br>BPG</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
    <div class="card text-white bg-danger mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-4">Drama<br>ガイドコンテスト</h5>
            <div class="pt-3 text-center"><button type="button" class="card-text btn btn-light text-primary text-center pt-2 pb-2 pl-4 pr-4">More</button></div>
        </div>
    </div>
</div>
<!--よくある質問-->
<h5 class="text-center mt-5 mb-5">よくある質問</h5>
<!--複数枚のスライドを同時に表示するRailsでslickを用いたCarousel-->
<div class="multiple mt-5">
  <span>
    <%= image_tag 'debate' %>
    <h5 class="mt-4">何年生が中心となって活動しているの？</h5> 
  </span>
  <span>   
    <%= image_tag 'guide' %>
    <h5 class="mt-4">所属学部はやっぱり英語系が多いですか？</h5>
  </span>
  <div>
    <%= image_tag 'member' %>
    <h5 class="mt-4">メンバーの学年比・男女比を教えてください！</h5>
  </div>
  <span>
    <%= image_tag 'question' %>
    <h5 class="mt-4">体験してみたいのですがどうすればいいですか？</h5>
  </span>
  <div>
    <%= image_tag 'speech' %>
    <h5 class="mt-4">複数のセクションに所属(兼セク)することはできますか？</h5>
  </div>
  <div>
    <%= image_tag 'member'%>
    <h5 class="mt-4">ESSに入ると、英語は上達しますか？</h5>
  </div>
</div>

    
    
   
      
   
    
      
    
     
    
