 

 <!--wrapperここから-->
<div id="wrapper" class="row">
    <!--ここからメイン-->
    <div id="main" class="col-12 col-sm-8">
        <h1 class="text-center">上南戦</h1>
        <div class="text-center mt-5"><%= image_tag 'Guide10', :width => '100%' %></div>
        <p class="mt-4">
            
上南戦は南山大学と上智大学の交流を図るために行われる部活間の交流です。
体育会系の部活では交流試合を行っています。南山ESSでは上智大学ESSと2日間にわたり交流会を毎年実施しています。
会場は南山大学と上智大学で隔年交互にホストなり開催しています。内容としては各セクションが1時間～2時間程度のものを準備します。
南山と上智で実施しているスタイルが違うディベートは交互にモデルディベートを実施し、ディベートがどういうものなのかを披露します。
ディスカッションは南山と上智が合同で実施し、実際に他セクションの部員にもディスカッションを体験してもらい、魅力を伝えます。
ガイドは南山にしかないセクションですが、南山をめぐりながらどんなふうにガイドをされるのか等を体験してもらいます。
スピーチセクションは実際に準備型スピーチや即興型スピーチを披露します。ドラマセクションは南山も上智も実際に舞台に立ち、演目を披露してくれます。
なんといっても上南戦の大きな魅力は一緒に昼ご飯や夜ご飯、希望すれば宿泊もできるため中々交流することのない他大学の子ととても仲良くなれます。
上南戦は大学だけでなくESSにとっても大きなイベントの1つですのでぜひ参加していただけたらと思います。
        </p>
    </div>
    <!--メインここまで-->
    <!--ここからサイド-->
    <aside id="sidebar" class="col-sm-4">
     <div id="sidebar_sub">
        <div class="card">
            <div class="card-header">
              イベント一覧
            </div>
            <div class="card-body">
                <div><%= link_to '・春キャン', spring_camp_path, class: 'side-letter' %></div>
                <div><%= link_to '・新歓', freshman_welcome_party_path, class: 'side-letter' %></div>
                <div class="active"><%= link_to '・上南戦', jounan_path, class: 'side-letter' %></div>
                <div><%= link_to '・サマーキャンプ', summer_camp_path, class: 'side-letter' %></div>
                <div><%= link_to '・ハロウィンパーティー', halloween_party_path, class: 'side-letter' %></div>
                <div><%= link_to '・学祭', nanzan_festival_path, class: 'side-letter' %></div>
                <div><%= link_to '・クリスマスパーティー', christmas_party_path, class: 'side-letter' %></div>
                <div><%= link_to '・追いコン', farewell_party_path, class: 'side-letter' %></div>
            </div>
        </div>
     </aside>
    <!--サイドここまで-->
    
</div>
 <!--wrapperここまで-->





