<h1>Edit the content</h1>

<%= form_with(model: @post, local: true) do |f| %>
    <%= f.label :content, 'Content' %>
    <%= f.text_field :content %>
    <%= f.submit 'Edit' %>
<% end %>

<%= link_to 'Back to a list of all the posts', webapp_toppages_path %>