<div class="container" id="content_border">
    <!--wrapperここから-->
    <div id="wrapper" class="row">
        <!--ここからメイン-->
        <div id="main" class="col-12 col-sm-8">
            <h1 class="text-center">南山大学大学祭</h1>
            <div class="text-center mt-5"><%= image_tag 'gakusai', :width => '100%' %></div>
            <p class="mt-4">2019年度 南山大学 大学祭は、<span class="bold">11月2日〜4日の3日間で行われました！</span></p>
            <p>南山大学の大学祭では、数多くの部活動やサークルが模擬店を出し、個性豊かなさまざまな食品を提供します！
            それらの中には、先輩たちの伝統を受け継ぎ、毎年同じ食品を提供するところもありますが、
            <span class="under">私たちESSは、新1年生が中心となって毎年新しいメニューを考え、先輩たちに支えてもらいながら食品を提供しています！</span>
            </p>
            <p>え？！新1年生が中心となるの？！しかもメニューも考えるの？大変じゃん！！と思われるかもしれません！
            たしかに大変です。でも、<span class="bold">ESSの先輩方は、新1年生の考えた企画案をもとに、いっしょになって真摯に考えてくれます！</span>
            当日の事前準備も運営も、めちゃくちゃ助けてくれるので、とても心強いです！</p>
            <p>ちなみに、去年の1年生発案したメニュー内容はEat Saku Sakuコロッケです！<span class="bold">コロッケのほかにも、
            飲み物の重さの比重を応用して、違う味のジュースで層をつくりだすシュプリームカクテルも販売しました！</span>
            </p>
            <p><span class="bold">「美味しかったからまた買いに来ちゃった〜」というお客様の声には、
            そこにいたメンバー一同感動のあまり泣きそうになりました！笑</span></p>
            <p>また、新1年生が中心となって模擬店を作り上げていくので、<span class="under">1年生の時点で他セクションに属するたくさんのメンバーとの出会いがあります！</span>
            私自身、学祭を通して、たくさんの個性豊かな素敵な友人と出会うことができました！
            </p>
            <p>以上でESSの学祭事情をつらつらと述べてきましたが、それらを簡単にまとめると...、</p>
            <div class="box">
                <p class="check">ESSの模擬店は、新1年生が毎年新しいメニューを考える！<br>
                    <span class="check">たしかに大変！でも先輩たちがもちろん助けてくれる！</span><br>
                    <span class="check">他セクで関わってこなかったESSメンバーとの出会いがある！</span><br>
                </p>
            </div>
            <p>となります！</p>
            <p>ご一読いただき、ありがとうございました！</p>
        </div>
        <!--メインここまで-->
        <!--ここからサイド-->
        <aside id="sidebar" class="col-sm-4">
            <div id="sidebar_sub">
                <div class="card">
                    <div class="card-header">イベント一覧</div>
                    <div class="card-body">
                        <div><%= link_to '・春キャン', spring_camp_path, class: 'side-letter' %></div>
                        <div><%= link_to '・フレッシュマン祭', freshman_festival_path, class: 'side-letter' %></div>
                        <div><%= link_to '・新歓', freshman_welcome_party_path, class: 'side-letter' %></div>
                        <div><%= link_to '・上南戦', jounan_path, class: 'side-letter' %></div>
                        <div><%= link_to '・サマーキャンプ', summer_camp_path, class: 'side-letter' %></div>
                        <div><%= link_to '・ハロウィンパーティー', halloween_party_path, class: 'side-letter' %></div>
                        <div class="active"><%= link_to '・学祭', nanzan_festival_path, class: 'side-letter' %></div>
                        <div><%= link_to '・クリスマスパーティー', christmas_party_path, class: 'side-letter' %></div>
                        <div><%= link_to '・追いコン', farewell_party_path, class: 'side-letter' %></div>
                    </div>
                </div>
            </div>
        </aside>
        <!--サイドここまで-->
    </div>
    <!--wrapperここまで-->
</div>
<!--containerここまで-->



