 <div class="container" id="content_border">
  <!--wrapperここから-->
   <div id="wrapper" class="row">
    <!--ここからメイン-->
    <div id="main" class="col-12 col-sm-8">
        <h1 class="text-center">新歓</h1>
        <div class="text-center mt-5"><%= image_tag 'shinkan', :width => '100%' %></div>
        <p class="mt-4">新歓ではESSに入ってくれた
        <span class="bold">新入生を招待して、先輩と新入生の交流を深めます！</span></p>
        <p>新歓はESSに入部した<span class="under">新入生の最初の全体イベント</span>です！
        普段はセクションごとに分かれて活動しますが、
        新歓は<span class="bold">他セクションの先輩や仲間と出会える良いきっかけ</span>になると思います。</p>
        <p>南山大学構内の食堂が提供してくださる<span class="bold">バイキング</span>を楽しみつつ、
        いろんな人とお話をしたり、より交流を深めるためにグループに分かれて
        <span class="bold">ゲーム大会</span>を開催したりもします。
        ゲームの種類はお絵かきリレーだったりクイズ大会だったり。
        意外とこういうゲームが一番盛り上がりますよね？笑<br>
        年度によってはビンゴ大会だったりもします。
        </p>
        <p>2019年度の新歓ではゲームで一番ポイントを稼いだグループに
        <spna class="bold">景品が用意されていました！</span>
        交流も深めて景品もゲットできたら一石二鳥ですが、私はなんと過去に参加した2回とも景品をゲットできました。
        一つは紅茶のティーバッグ、もう一つはイカ塩辛ソーダ。
        </p>
        <p>イカ塩辛ソーダなんてどこに需要があるのでしょうか？マズ過ぎて正直あんまりうれしくは…と言いつつも、
        それでひと盛り上がりしたので今では良い思い出です。
        </p>
        <p>イカ塩辛ソーダを通じておしゃべりをした子とも今では大の仲良しになれたので、
        皆さんも<span class="under">新歓に参加して、
        知らない仲間・先輩とも思い切っておしゃべりしてみてはいかがでしょうか！</span>
        <br>意外なきっかけで仲良くなれるかもしれませんよ！
        </p>
        <p>ご一読いただき、ありがとうございました！</p>
    </div>
    <!--メインここまで-->
    <!--ここからサイド-->
    <aside id="sidebar" class="col-sm-4">
      <div id="sidebar_sub">
        <div class="card">
            <div class="card-header">
              イベント一覧
            </div>
            <div class="card-body">
                <div><%= link_to '・春キャン', spring_camp_path, class: 'side-letter' %></div>
                <div class="active"><%= link_to '・新歓', freshman_welcome_party_path, class: 'side-letter' %></div>
                <div><%= link_to '・上南戦', jounan_path, class: 'side-letter' %></div>
                <div><%= link_to '・サマーキャンプ', summer_camp_path, class: 'side-letter' %></div>
                <div><%= link_to '・ハロウィンパーティー', halloween_party_path, class: 'side-letter' %></div>
                <div><%= link_to '・学祭', nanzan_festival_path, class: 'side-letter' %></div>
                <div><%= link_to '・クリスマスパーティー', christmas_party_path, class: 'side-letter' %></div>
                <div><%= link_to '・追いコン', farewell_party_path, class: 'side-letter' %></div>
            </div>
        </div>
      </div>
    </aside>
    <!--サイドここまで-->
  </div>
 <!--wrapperここまで-->
</div>
<!--containerここまで-->







