
<div class="container" id="content_border">
<!--wrapperここから-->
<div id="wrapper" class="row">
    <!--ここからメイン-->
    <div id="main" class="col-10 offset-1">
        
        <h1 class="mt-4 pb-6 pt-6 text-center">体験申し込み</h1>
        <p class="mt-4 text-center">以下の内容は、受付日から3営業日以内をめどにご返信いたします。</p>
        <!--formのaction属性でformの送信先を指定している-->
        <!--modelで指定した今回でいうと@inquiryのinquiriesがactionに指定されることになる-->
        <%= form_with model: @inquiry do |f| %>
        <!--f.objectには@inquiryが代入されている-->
        <%= render 'layouts/error_messages', model: f.object %>
        <!-- ラベルとフォーム部品を並べるためにグリッドを使う指定を追加 -->
        <div class="form-group row">
            <div class="col-sm-4">
                <%= f.label :name, '氏名' %>
            </div>
            <div class="col-sm-7">
                <%= f.text_field :name, class: 'form-control' %>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <%= f.label :email, 'メールアドレス'%>
            </div>
            <div class="col-sm-7">
                <%= f.email_field :email, class: 'form-control'%>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <%= f.label :section, '希望セクション'%>
            </div>
            <div class="col-sm-7">
                <%= f.select :section, [['Certification','Certification'], ['Guide','Guide'],['Debate','Debate'],
                ['Speech','Speech'],['Discussion','Discussion'],['未定(相談したい)','未定(相談したい)']], 
                { include_blank: '選択してください' }, { class: 'form-control ' } %>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <%= f.label :date, '希望日' %>
            </div>
            <div class="col-sm-7">
                <%= f.date_field :date, class: 'form-control' %>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <%= f.label :time, '希望時間' %>
            </div>
            <div class="col-sm-7">
                <%= f.time_field :time, class: 'form-control '%>
            </div>
        </div>
        <div class="form-group row pb-3">
            <div class="col-sm-4">
                <%= f.label :message, 'メッセージ' %>
            </div>
            <div class="col-sm-7">
                <%= f.text_field :message, class: 'form-control '%>
            </div>
        </div>
        <div class="form-group row pb-6">
            <!--<div class="offset-sm-3 col-sm-9">-->
            <!-- 送信ボタンを緑色にする設定を追加 -->
            <!-- さらに、送信ボタンは、指定のカラム幅に対して100％の幅となる設定を追加 -->
            <div class="offset-sm-4 col-sm-7">
                <%= f.submit '送信', class: 'btn btn-success btn btn-block pt-3 pb-3' %>
            </div>
        </div>
        <% end %>
    </div>
    <!--メインここまで-->
    
    
    
</div>
 <!--wrapperここまで-->

 </div>


